.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust height according to header height */
    text-align: center;
    background-color: #f0f0f0;
}

.home-container h1 {
    font-size: 2rem;
    color: #333;
}
